InvokeOracleTuxedoService_Example/Schemas/Tuxedo/Input/EmpInfoInput.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns:tns="http://www.tibco.com/xmlns/tux/EmpInfoInput" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tibco.com/xmlns/tux/EmpInfoInput" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="RfcRequest_EmpInfoInput" type="tns:EmpInfoInput_Type"/>
    <complexType name="EmpInfoInput_Type">
        <sequence>
            <element minOccurs="0" name="DEPTID_33558534" type="string"/>
            <element name="ServiceName" type="string"/>
        </sequence>
    </complexType>
</schema>
